<div class="checkout_area section-padding-80">
	<div class="container">
		<div class="row" >

			<div class="col-12 ">
				<div class="checkout_details_area mt-50 clearfix">

					<div class="cart-page-heading mb-30">
						<h5>Add Address</h5>
					</div>

					<form action="#" method="post">
						<div class="row">
							<div class="col-12 mb-3">
								<label for="country">City</label>
								<select class="w-100" id="country" style="display: none;">
									<option value="usa">United States</option>
									<option value="uk">United Kingdom</option>
									<option value="ger">Germany</option>
									<option value="fra">France</option>
									<option value="ind">India</option>
									<option value="aus">Australia</option>
									<option value="bra">Brazil</option>
									<option value="cana">Canada</option>
								</select><div class="nice-select w-100" tabindex="0"><span class="current">United States</span><ul class="list"><li data-value="usa" class="option selected">United States</li><li data-value="uk" class="option">United Kingdom</li><li data-value="ger" class="option">Germany</li><li data-value="fra" class="option">France</li><li data-value="ind" class="option">India</li><li data-value="aus" class="option">Australia</li><li data-value="bra" class="option">Brazil</li><li data-value="cana" class="option">Canada</li></ul></div>
							</div>
							<div class="col-12 mb-3">
								<label for="country">District</label>
								<select class="w-100" id="country" style="display: none;">
									<option value="usa">United States</option>
									<option value="uk">United Kingdom</option>
									<option value="ger">Germany</option>
									<option value="fra">France</option>
									<option value="ind">India</option>
									<option value="aus">Australia</option>
									<option value="bra">Brazil</option>
									<option value="cana">Canada</option>
								</select><div class="nice-select w-100" tabindex="0"><span class="current">United States</span><ul class="list"><li data-value="usa" class="option selected">United States</li><li data-value="uk" class="option">United Kingdom</li><li data-value="ger" class="option">Germany</li><li data-value="fra" class="option">France</li><li data-value="ind" class="option">India</li><li data-value="aus" class="option">Australia</li><li data-value="bra" class="option">Brazil</li><li data-value="cana" class="option">Canada</li></ul></div>
							</div>
							
							<div class="col-12 mb-3">
								<label for="street_address">Address <span>*</span></label>
								<input type="text" class="form-control mb-3" id="street_address" value="">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>