<div class="checkout_area section-padding-80">
	<div class="container">
		<div class="row" >
      <p-card style="margin-left: 15%;">
        <div class="col-12 ">
				<div class="checkout_details_area mt-50 clearfix">

					<div class="cart-page-heading mb-30">
						<h5>Add Address</h5>
					</div>

					<form [formGroup]="addressForm" (submit)="save()">
						<div class="row">
							<div class="col-6 mb-3">
								<label for="country">City <span>*</span></label>
                <div class="card">
                  <p-dropdown class="w-100" (onChange)="changeDistrict()" formControlName="city" [style]="{'width':'100%'}" [options]="cities"  [filter]="true" placeholder="Select a City" [editable]="true" optionLabel="name"></p-dropdown>
                </div>
                <div *ngIf="addressForm.get('city').touched">
                  <div *ngIf="addressForm.hasError('required',['city'])" style="color: rgb(255, 0, 0); font-size: 80%;">
                    City is required
                  </div>
                </div>
							</div>
							<div class="col-6 mb-3">
								<label for="country">District <span>*</span></label>
								<div class="card">
                  <p-dropdown class="w-100" formControlName="district"  [style]="{'width':'100%'}" [options]="districts"  [filter]="true" placeholder="Select a District" [editable]="true" optionLabel="name"></p-dropdown>
                </div>
                <div *ngIf="addressForm.get('district').touched">
                  <div *ngIf="addressForm.hasError('required',['district'])" style="color: rgb(255, 0, 0); font-size: 80%;">
                    District is required
                  </div>
                </div>
							</div>

							<div class="col-12 mb-3">
								<label for="street_address">Address <span>*</span></label>
                <input type="text" pInputText formControlName="street"  [style]="{'width':'100%'}"/>
                <div *ngIf="addressForm.get('street').touched">
                  <div *ngIf="addressForm.hasError('required',['street'])" style="color: rgb(255, 0, 0); font-size: 80%;">
                    Street is required
                  </div>
                </div>
							</div>
						</div>

            <div>
              <div class="text-right">
              <button type="submit" class="btn btn-outline-primary">Add Address</button>
              </div>
            </div>
					</form>
				</div>
			</div>
      </p-card>

		</div>
	</div>
</div>
