<div class="pagetitle">
  <h1>Admin</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/']">Admin</a></li>
      <li class="breadcrumb-item ">List Vouchers</li>
      <li class="breadcrumb-item active">Add Voucher</li>

    </ol>
  </nav>
</div>

<section class="section">
  <div class="row">

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Add Voucher</h5>

        <!-- Multi Columns Form -->
        <form class="row g-3" [formGroup]="voucherFormGroup">
          <div class="col-md-12">
            <label for="inputName5" class="form-label">Voucher Name</label>
            <input type="text" pInputText formControlName="name" [style]="{'width':'100%'}"/>
            <div *ngIf="voucherFormGroup.get('name').touched">
              <div *ngIf="voucherFormGroup.hasError('required',['name'])" style="color: rgb(255, 0, 0); font-size: 80%;">
                Name is required
              </div>
            </div>
          </div>
          
          <div class="col-md-12">
            <label for="inputName5" class="form-label">Varitycode</label>
            <input type="text" pInputText formControlName="varityCode" [style]="{'width':'100%'}"/>
            <div *ngIf="voucherFormGroup.get('varityCode').touched">
              <div *ngIf="voucherFormGroup.hasError('required',['varityCode'])" style="color: rgb(255, 0, 0); font-size: 80%;">
                Varitycode is required
              </div>
            </div>
          </div>


          <div class="col-md-12">
            <label for="inputName5" class="form-label">Discount</label>
            <br/>
            <p-inputNumber formControlName="discount" ></p-inputNumber>
            <div *ngIf="voucherFormGroup.get('discount').touched">
              <div *ngIf="voucherFormGroup.hasError('required',['discount'])" style="color: rgb(255, 0, 0); font-size: 80%;">
                Discount is required
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <label for="inputName5" class="form-label">Condition</label>
            <br/>
            <p-inputNumber formControlName="condition"></p-inputNumber>
            <div *ngIf="voucherFormGroup.get('condition').touched">
              <div *ngIf="voucherFormGroup.hasError('required',['condition'])" style="color: rgb(255, 0, 0); font-size: 80%;">
                Condition is required
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <label for="inputName5" class="form-label">Quantity</label>
            <br/>
            <p-inputNumber formControlName="quantity"></p-inputNumber>
            <div *ngIf="voucherFormGroup.get('quantity').touched">
              <div *ngIf="voucherFormGroup.hasError('required',['quantity'])" style="color: rgb(255, 0, 0); font-size: 80%;">
                Quantity is required
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <label for="inputName5" class="form-label">Time Start</label>
           
            <p-calendar   formControlName="timeStart"></p-calendar>
            <div *ngIf="voucherFormGroup.get('timeStart').touched">
              <div *ngIf="voucherFormGroup.hasError('required',['timeStart'])" style="color: rgb(255, 0, 0); font-size: 80%;">
                Time Start is required
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <label for="inputName5" class="form-label">Time End</label>
            
            <p-calendar   formControlName="timeEnd"></p-calendar>
            <div *ngIf="voucherFormGroup.get('timeEnd').touched">
              <div *ngIf="voucherFormGroup.hasError('required',['timeEnd'])" style="color: rgb(255, 0, 0); font-size: 80%;">
                Time End is required
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <label for="inputName5" class="form-label">Status</label>
            <input type="checkbox"  formControlName="status">
          </div>

          <div class="text-center">
            <button type="submit" class="btn btn-primary" (click)="save()" [disabled]="voucherFormGroup.invalid">Submit</button> &nbsp;
            <button type="reset" class="btn btn-secondary" (click)="reset()">Reset</button>
          </div>
        </form><!-- End Multi Columns Form -->

      </div>
    </div>


  </div>
</section>
