<section class="section profile">
  <div class="row">
    <div class="col-xl-4">

      <div class="card">
        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

          <img src="{{account.avatar}}" alt="Profile" class="rounded-circle">
          <h2>{{account.lastName +" "+ account.firstName }}</h2>
          <h3>{{account.roles[0]}}</h3>

        </div>
      </div>

    </div>

    <div class="col-xl-8">

      <div class="card">
        <div class="card-body pt-3">
          <!-- Bordered Tabs -->
          <ul class="nav nav-tabs nav-tabs-bordered" role="tablist">

            <li class="nav-item" role="presentation">
              <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview" aria-selected="true" role="tab">Overview</button>
            </li>

            <li class="nav-item" role="presentation">
              <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit" aria-selected="false" tabindex="-1" role="tab">Edit Profile</button>
            </li>

            <li class="nav-item" role="presentation">
              <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password" aria-selected="false" tabindex="-1" role="tab">Change Password</button>
            </li>

            <li class="nav-item" role="presentation">
              <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings" aria-selected="false" tabindex="-1" role="tab">Address </button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-history" aria-selected="false" tabindex="-1" role="tab">History</button>
            </li>
          </ul>
          <div class="tab-content pt-2">

            <div class="tab-pane fade profile-overview active show" id="profile-overview" role="tabpanel">
              <h5 class="card-title">Profile Details</h5>

              <div class="row">
                <div class="col-lg-3 col-md-4 label ">Fisrt Name</div>
                <div class="col-lg-9 col-md-8">{{account.firstName}}</div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label ">Last Name</div>
                <div class="col-lg-9 col-md-8">{{account.lastName}}</div>
              </div>


              <div class="row">
                <div class="col-lg-3 col-md-4 label">Phone</div>
                <div class="col-lg-9 col-md-8">{{account.phone}}</div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">Email</div>
                <div class="col-lg-9 col-md-8">{{account.email}}</div>
              </div>


              <div class="row">
                <div class="col-lg-3 col-md-4 label">List Roles</div>
                <div class="col-lg-9 col-md-8">|<span *ngFor="let item of account.roles">{{item}}|  </span></div>
              </div>

            </div>

            <div class="tab-pane fade profile-edit pt-3" id="profile-edit" role="tabpanel">

              <!-- Profile Edit Form -->
              <form [formGroup]="accountFormGroup">
                <div class="row mb-3">
                  <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
                  <div class="col-md-8 col-lg-9">

                    <img src="{{account.avatar}}" alt="Profile">
                    <img [src]="imageUrl" *ngIf="imageUrl">
                    <div class="pt-2">
                      <input type="file" (change)="onFileSelected($event)" accept="image/*">
                      <a href="#" class="btn btn-danger btn-sm" title="Remove my profile image"><i
                          class="bi bi-trash"></i></a>
                    </div>
                  </div>
                </div>

                <div class="row mb-3">
                  <label class="col-md-4 col-lg-3 col-form-label">First Name</label>
                  <div class="col-md-8 col-lg-9">
                    <input formControlName="firstName" type="text" class="form-control">
                  </div>
                </div>

                <div class="row mb-3">
                  <label class="col-md-4 col-lg-3 col-form-label">Last Name</label>
                  <div class="col-md-8 col-lg-9">
                    <input formControlName="lastName" type="text" class="form-control">
                  </div>
                </div>
                <div class="row mb-3">
                  <label class="col-md-4 col-lg-3 col-form-label">Phone</label>
                  <div class="col-md-8 col-lg-9">
                    <input formControlName="phone" type="text" class="form-control">
                  </div>
                </div>

                <div class="row mb-3">
                  <label class="col-md-4 col-lg-3 col-form-label">Email</label>
                  <div class="col-md-8 col-lg-9">
                    <input pInputText readonly formControlName="email" type="email" class="form-control"
                      [disabled]="true">
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary" (click)="saveChange()">Save Changes</button>
                </div>
              </form><!-- End Profile Edit Form -->

            </div>

            <div class="tab-pane fade pt-3" id="profile-settings" role="tabpanel">

              <div class="cart-page-heading mb-30">
                <h5>Billing Address</h5>
              </div>

                <form >
                <div class="order-details-confirmation">
                    <div class="row g-3">
                      <label for="inputEmail3" class="col-sm-2 col-form-label">Full Name</label>
                      <div class="col-sm-10">
                        <span>thanh thao</span>
                      </div>
                    </div>

                    <div class="row g-3">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Phone Number</label>
                        <div class="col-sm-10">
                          <span>09763427135</span>
                        </div>
                      </div>
                      <div class="row g-3">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Address</label>
                        <div class="col-sm-10">
                          <span>duong d5 ,binh thanh, hcm</span>
                        </div>
                      </div>

                      <div class="pt-2">
                        <a href="#" class="btn btn-primary btn-sm" title="Edit new profile image"><i class="fa fa-pencil"></i></a>
                        <a href="#" class="btn btn-danger btn-sm" title="Remove my profile image"><i class="fa fa-trash-o"></i></a>
                      </div>
                  </div>
                  </form>

            </div>

            <div class="tab-pane fade pt-3" id="profile-change-password" role="tabpanel">
              <!-- Change Password Form -->
              <form [formGroup]="changepassFormGruop">

                <div class="row mb-3">
                  <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                  <div class="col-md-8 col-lg-9">
                    <input formControlName="oldpassword" type="password" class="form-control" id="currentPassword">
                  </div>

                </div>

                <div class="row mb-3">
                  <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                  <div class="col-md-8 col-lg-9">
                    <input formControlName="newpassword" type="password" class="form-control" id="newPassword">
                  </div>
                </div>
                <div *ngIf="changepassFormGruop.get('newpassword').touched">
                  <div *ngIf="changepassFormGruop.hasError('required',['newpassword'])"
                    style="color: rgb(255, 0, 0); font-size: 80%;">
                    Password is required
                  </div>
                </div>
                <div *ngIf="changepassFormGruop.get('newpassword').touched">
                  <div *ngIf="changepassFormGruop.hasError('pattern',['newpassword'])"
                    style="color: rgb(255, 0, 0); font-size: 80%;">
                    A strong level password that has at least one lowercase letter, one uppercase letter, one digit, one
                    special character, and is at least eight characters long, max is 30.
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
                  <div class="col-md-8 col-lg-9">
                    <input [(ngModel)]="comfirmpass" [ngModelOptions]="{standalone: true}" (change)="checkpassword()"
                      type="password" class="form-control" id="renewPassword">
                  </div>
                </div>
                <div></div>
                <ng-container *ngIf="check && comfirmpass != null">
                  <div style="color: rgb(255, 0, 0); font-size: 80%;">
                    Not match
                  </div>
                </ng-container>

                <div class="text-center">
                  <button type="submit" (click)="savePass()" class="btn btn-primary"
                    [disabled]="check || changepassFormGruop.invalid ">Change Password</button>
                </div>
              </form><!-- End Change Password Form -->

            </div>

            <div class="tab-pane fade profile-history" id="profile-history" role="tabpanel">
              <h5 class="card-title">History </h5>

                <!-- Table with hoverable rows -->
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">Id</th>
                      <th scope="col">Code Orders</th>
                      <th scope="col">Total</th>
                      <th scope="col">Status</th>
                      <th scope="col">Payment</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>515723</td>
                      <td>854</td>
                      <td>received</td>
                      <td>Paypal</td>
                    </tr>
                  </tbody>
                </table>
                <!-- End Table with hoverable rows -->


            </div>

          </div><!-- End Bordered Tabs -->

        </div>
      </div>

    </div>
  </div>
</section>
