<div class="contact-area d-flex align-items-center">

    <div class="google-map">
        <div id="googleMap" style="position: relative; overflow: hidden;">
            <div
                style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);">
                <div class="gm-err-container">
                    <div class="gm-err-content">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.060360134898!2d106.7141768!3d10.806689100000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317529ed00409f09%3A0x11f7708a5c77d777!2zQXB0ZWNoIENvbXB1dGVyIEVkdWNhdGlvbiAtIEjhu4cgVGjhu5FuZyDEkMOgbyB04bqhbyBM4bqtcCBUcsOsbmggVmnDqm4gUXXhu5FjIHThur8gQXB0ZWNo!5e0!3m2!1svi!2s!4v1689321822628!5m2!1svi!2s" width="100%" height="691" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="contact-info">
        <h2>How to Find Us</h2>
        <p>Mauris viverra cursus ante laoreet eleifend. Donec vel fringilla ante. Aenean finibus velit id urna vehicula,
            nec maximus est sollicitudin.</p>

        <div class="contact-address mt-50">
            <p><span>address:</span>35/6 D5,Binh Thanh,HCM</p>
            <p><span>telephone:</span>1800 1779</p>
            <p><a href="mailto:contact@essence.com">aptech2@aprotrain.com</a></p>
        </div>
    </div>

</div>
