<div class="pagetitle">
  <h1>Admin</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/']">Admin</a></li>
      <li class="breadcrumb-item ">List Invoices</li>
      <li class="breadcrumb-item active">Add Invoice</li>

    </ol>
  </nav>
</div>

<section class="section">
  <div class="row">

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Add Invoice</h5>

        <!-- Multi Columns Form -->
        <form class="row g-3" [formGroup]="invoiceFormGroup">
          <div class="col-md-12">
            <label for="inputName5" class="form-label">Invoice Number</label>
            <input type="text" pInputText formControlName="invoiceNumber" [style]="{'width':'100%'}"/>
          </div>

          <div class="col-md-12">
            <label for="inputName5" class="form-label">Payment</label>
            <p-editor formControlName="payment" [style]="{ height: '100%', width: '100%' }"></p-editor>
          </div>

          <div class="col-md-12">
            <label for="inputName5" class="form-label">Account ID</label>
            <input type="number" pInputText formControlName="accountId" [style]="{'width':'100%'}"/>
          </div>

          <div class="col-md-12">
            <label for="inputName5" class="form-label">Status</label>
            <input type="number" pInputText formControlName="status" [style]="{'width':'100%'}"/>
          </div>

          <div class="text-center">
            <button type="submit" class="btn btn-primary" (click)="save()">Submit</button> &nbsp;
            <button type="reset" class="btn btn-secondary" (click)="reset()">Reset</button>
          </div>
        </form><!-- End Multi Columns Form -->

      </div>
    </div>


  </div>
</section>
