<section class="shop_grid_area section-padding-80">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 col-lg-3">
        <div class="shop_sidebar_area">
          <!-- ##### Single Widget ##### -->
          <div class="widget catagory mb-50">
            <h5>Search:<input  pInputText (keyup)="search($event)" type="text"></h5>
            <!-- Widget Title -->
            <a [routerLink]="['/categories', { id: 0 }]">
              <h6 class="widget-title mb-30">Catagories</h6>
            </a>

            <!--  Catagories  -->
            <div class="catagories-menu">
              <ul id="menu-content2" class="menu-content collapse show">
                <!-- Single Item -->

                <!-- Single Item -->
                <li data-toggle="collapse" data-target="#category" class="collapsed" aria-expanded="false">
                  <ng-container *ngFor="let category of categoriesTitle">
                    <ul class="single-mega cn-col-4">
                      <li class="title">
                        <a [routerLink]="[
                            '/categories',
                            { id: category.category.id }
                          ]">{{ category.category.name }}</a>
                      </li>
                      <ng-container *ngFor="let categorysub of categoriesTitleSub">
                        <li *ngIf="categorysub.indexParent == category.index" id="category">
                          <a [routerLink]="[
                              '/categories',
                              { id: categorysub.category.id }
                            ]">{{ categorysub.category.name }}</a>
                        </li>
                      </ng-container>
                    </ul>
                  </ng-container>
                </li>
                <!-- Single Item -->
              </ul>
            </div>
          </div>

          <!-- ##### Single Widget ##### -->
          <div class="widget price mb-50">
            <!-- Widget Title -->
            <h6 class="widget-title mb-30">Filter by</h6>
            <!-- Widget Title 2 -->
            <p class="widget-title2 mb-30">Price</p>

            <div class="widget-desc">
              <div class="slider-range">
                <div
                  class="slider-range-price ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
                  <div class="card flex justify-content-center">
                    <p-slider [(ngModel)]="rangeValues" (ngModelChange)="rangePrice()" [min]="0" [max]="20"
                      [range]="true"></p-slider>
                  </div>
                </div>
                <div class="range-price">
                  Range: ${{ rangeValues[0] }} - ${{ rangeValues[1] }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-12 col-lg-9">
        <div class="shop_grid_product_area">
          <div class="row">
            <ng-container *ngIf="author != null">
              <p-card class="col-12 col-md-12">
                <div class="col-12 col-md-12">
                  <div class="checkout_details_area mt-50 clearfix">
                    <div class="cart-page-heading mb-30">
                      <h5>Author Profile</h5>
                    </div>
                    <div class="row">
                      <div class="col-6 mb-3">
                        <label for="phone_number">Author's Name:</label>
                        &nbsp;
                        <b>
                          <span>{{ author.name }}</span>
                        </b>
                      </div>
                      <div class="col-6 mb-3">
                        <label for="phone_number">Year of Birth:</label>
                        &nbsp;
                        <b>
                          <span>{{ author.yearOfBirth }}</span>
                        </b>
                      </div>
                      <div class="col-12 mb-3">
                        <label for="state">Biography </label>
                        <p-card>
                          <span [innerHTML]="author.biography"></span>
                        </p-card>
                      </div>
                    </div>
                  </div>
                </div>
              </p-card>
            </ng-container>
            <div class="col-12">
              <div class="product-topbar d-flex align-items-center justify-content-between">
                <!-- Total Products -->
                <div class="total-products" *ngIf="products != null">
                  <p>
                    <span>{{ lenghtProduct }}</span> products found
                  </p>
                </div>
                <!-- Sorting -->
                <!-- <div class="product-sorting d-flex">
                  <p>Sort by:</p>
                  <select name="select" id="sortByselect" style="display: none">
                    <option value="1">Highest Rated</option>
                    <option value="2">Newest</option>
                    <option value="3">Price: $$ - $</option>
                    <option value="4">Price: $ - $$</option>
                  </select>
                  <div class="nice-select" tabindex="0">
                    <span class="current">Highest Rated</span>
                    <ul class="list">
                      <li data-value="value" class="option selected">
                        Highest Rated
                      </li>
                      <li data-value="value" class="option">Newest</li>
                      <li data-value="value" class="option">Price: $$ - $</li>
                      <li data-value="value" class="option">Price: $ - $$</li>
                    </ul>
                  </div>
                  <input type="submit" class="d-none" value="" />
                </div> -->
              </div>
            </div>
          </div>

          <div class="row">
            <!-- Single Product -->
            <div class="col-12 col-sm-6 col-lg-4" *ngFor="let product of productshow">
              <div class="single-product-wrapper">
                <!-- Product Image -->
                <div class="product-img">
                  <img width="50%" height="50%" src="{{ product.photos[0] }}" />
                  <!-- Hover Thumb -->
                  <img class="hover-img" src="{{ product.photos[1] }}" alt="" />
                </div>

                <!-- Product Description -->
                <div class="product-description">
                  <span>{{ product.authors[0] }}</span>
                  <a [routerLink]="['/product', { id: product.id }]">
                    <h6>{{ product.name }}</h6>
                  </a>
                  <p class="product-price">${{ product.cost }}</p>
                  <!-- Hover Content -->
                  <div class="hover-content">
                    <!-- Add to Cart -->
                    <div class="add-to-cart-btn" (click)="addcart(product)">
                      <button href="#" class="btn essence-btn">
                        Add to Cart
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Pagination -->
        <nav aria-label="navigation" style="margin-left: 30%;">
          <ul class="pagination mt-50 mb-70">
              <li (click)="minuspage()" class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-left"></i></a></li>
              <input type="number" [(ngModel)]="pagenumber" (change)="changepage()" style="text-align: center;border-color: #ebebeb;">&nbsp;&nbsp;&nbsp;&nbsp;
              <li (click)="pluspage()" class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-right"></i></a></li>
              <li class="page-item"><span class="page-link">{{pagenumber + " of " + pagenumbermax}}</span></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>
