<div class="pagetitle">
  <h1>Admin</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/']">Admin</a></li>
      <li class="breadcrumb-item ">List Catrgories</li>
      <li class="breadcrumb-item active">Add Category</li>

    </ol>
  </nav>
</div>


<section class="section">
  <div class="row">

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Add Category</h5>

        <!-- Multi Columns Form -->
        <form class="row g-3" [formGroup]="addCategoryForm">
          <div class="col-md-12">
            <label for="inputName5" class="form-label">Your Name</label>
            <input type="text" pInputText formControlName="name" [style]="{'width':'100%'}"/>
          </div>

          <div class="col-md-12">
            <label for="inputName5" class="form-label">Your Name</label>
            <p-dropdown [filter]="true"  [options]="categories" formControlName="parentId" optionLabel="name" optionValue="id" [style]="{'width':'100%'}"></p-dropdown>
          </div>


          <div class="text-center">
            <button type="submit" class="btn btn-primary" (click)="save()">Submit</button> &nbsp;
            <button type="reset" class="btn btn-secondary" (click)="reset()">Reset</button>
          </div>
        </form><!-- End Multi Columns Form -->

      </div>
    </div>


  </div>
</section>
