

<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Add Category</h5>
                </div>
                <div class="card-body">
                    <div class="row product-adding">
                        <div class="form-group">
                            <label for="validationCustom01" class="col-form-label pt-0">Name</label>
                            <input class="form-control" id="validationCustom01" type="text" [(ngModel)]="name" required="">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Categories</label>
                            <select class="custom-select form-control" [(ngModel)]="parentid" required="">
                                <option value="0">------</option>
                                <option *ngFor="let category of categories"  value="{{category.id}}">{{category.name}}</option>
                            </select>
                        </div>
                        <br>
                        <br>
                        <div class="col-lg-12">
                            <div class="text-end">
                                <button type="submit" class="btn btn-primary" (click)="save()">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->


