<div class="pagetitle">
  <h1>Admin</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/']">Admin</a></li>
      <li class="breadcrumb-item ">List Accounts</li>
      <li class="breadcrumb-item active">Add Account</li>

    </ol>
  </nav>
</div>

<section class="section">
  <div class="row">

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Add Account</h5>

        <!-- Multi Columns Form -->
        <form class="row g-3" [formGroup]="accountFormGroup">
          <div class="col-md-6">
            <label for="inputName5" class="form-label">First Name</label>
            <input type="text" pInputText formControlName="firstName" [style]="{'width':'100%'}"/>
            <div *ngIf="accountFormGroup.get('firstName').touched">
              <div *ngIf="accountFormGroup.hasError('required',['firstName'])" style="color: rgb(255, 0, 0); font-size: 80%;">
                First name ame is required
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <label for="inputName5" class="form-label">Last Name</label>
            <input type="text" pInputText formControlName="lastName" [style]="{'width':'100%'}"/>
            <div *ngIf="accountFormGroup.get('lastName').touched">
              <div *ngIf="accountFormGroup.hasError('required',['lastName'])" style="color: rgb(255, 0, 0); font-size: 80%;">
                Last name is required
              </div>
            </div>
          </div>


          <div class="col-md-12">
            <label for="inputName5" class="form-label">Role</label>
            <p-multiSelect [options]="roles" optionLabel="name" optionValue="id" formControlName="roleId" [styleClass]="'w-100'"></p-multiSelect>
          </div>
          <div *ngIf="accountFormGroup.get('roleId').touched">
            <div *ngIf="accountFormGroup.hasError('required',['roleId'])" style="color: rgb(255, 0, 0); font-size: 80%;">
              Role is required
            </div>
          </div>

          <div class="col-md-12">
            <label for="inputName5" class="form-label">Email</label>
            <input type="text" pInputText formControlName="email" (change)="checkExist($event)" class="w-100"/>
          </div>
          <div *ngIf="accountFormGroup.get('email').touched">
            <div *ngIf="accountFormGroup.hasError('required',['email'])" style="color: rgb(255, 0, 0); font-size: 80%;">
              Email is required
            </div>
          </div>
          <div *ngIf="accountFormGroup.get('email').touched">
            <div *ngIf="accountFormGroup.hasError('pattern',['email'])" style="color: rgb(255, 0, 0); font-size: 80%;">
              Email is invalid
            </div>
          </div>
          <div class="col-md-12">
            <label for="inputName5" class="form-label">Password</label>
            <p-password [(ngModel)]="password" formControlName="password" [toggleMask]="true" [feedback]="false" [styleClass]="'w-100'" [inputStyle]="{'width':'100%','display':'block'}"></p-password>
          </div>
          <div *ngIf="accountFormGroup.get('password').touched">
            <div *ngIf="accountFormGroup.hasError('required',['password'])" style="color: rgb(255, 0, 0); font-size: 80%;">
              Password is required
            </div>
          </div>
          <div *ngIf="accountFormGroup.get('password').touched">
            <div *ngIf="accountFormGroup.hasError('pattern',['password'])"  style="color: rgb(255, 0, 0); font-size: 80%;">
              A strong level password that has at least one lowercase letter, one uppercase letter, one digit, one special character, and is at least eight characters long, max is 30.
            </div>
          </div>
          <div class="col-md-12">
            <label for="inputName5" class="form-label">Phone</label>
            <input type="text" pInputText formControlName="phone" [style]="{'width':'100%'}"/>
          </div>
          <div *ngIf="accountFormGroup.get('phone').touched">
            <div *ngIf="accountFormGroup.hasError('required',['phone'])" style="color: rgb(255, 0, 0); font-size: 80%;">
              Phone is required
            </div>
          </div>
          <div *ngIf="accountFormGroup.get('phone').touched">
            <div *ngIf="accountFormGroup.hasError('pattern',['phone'])" style="color: rgb(255, 0, 0); font-size: 80%;">
              Phone is invalid
            </div>
          </div>

          <div class="text-center">
            <button type="submit" class="btn btn-primary" (click)="save()" [disabled]="accountFormGroup.invalid">Submit</button> &nbsp;
            <button type="reset" class="btn btn-secondary" (click)="reset()">Reset</button>
          </div>
        </form><!-- End Multi Columns Form -->

      </div>
    </div>


  </div>
</section>
