<div class="pagetitle">
  <h1>Admin</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/']">Admin</a></li>
      <li class="breadcrumb-item active">List Role</li>

    </ol>
  </nav>
</div>


<section class="section">
  <div class="row">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Role</h5>

        <table class="table table-bordered" *ngIf="roles != null;else elseBlock">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col" >Name</th>
              <th scope="col">Created At</th>
              <th scope="col">Updated At</th>
              <th scope="col" colspan="2">Action</th>
            </tr>
          </thead>

          <tbody >
            <tr *ngFor="let role of roles">
              <th scope="row">{{role.id}}</th>
              <td>{{role.name}}</td>
              <td>{{role.createdAt}}</td>
              <td>{{role.updatedAt}}</td>
              <td>
                <button type="button" class="btn btn-danger" (click)="deleted(role.id)"><i class="bi bi-trash-fill"></i></button> |
                <a [routerLink]="['/editrole',{id: role.id}]"><button type="button" class="btn btn-success"><i class="bi bi-pencil-fill"></i></button></a>
              </td>
            </tr>
          </tbody>
        </table>
        <ng-template #elseBlock>
            <p-progressSpinner [style]="{'display':'flex','width':'10%'}"></p-progressSpinner>
        </ng-template>
      </div>
    </div>

  </div>
</section>
