<div class="pagetitle">
  <h1>Admin</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/']">Admin</a></li>
      <li class="breadcrumb-item ">List Publishers</li>
      <li class="breadcrumb-item active">Add Publisher</li>

    </ol>
  </nav>
</div>

<section class="section">
  <div class="row">

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Add Publisher</h5>

        <!-- Multi Columns Form -->
        <form class="row g-3" [formGroup]="publisherFormGroup">
          <div class="col-md-12">
            <label for="inputName5" class="form-label">Publisher Name</label>
            <input type="text" pInputText formControlName="name" [style]="{'width':'100%'}"/>
            <div *ngIf="publisherFormGroup.get('name').touched">
              <div *ngIf="publisherFormGroup.hasError('required',['name'])" style="color: rgb(255, 0, 0); font-size: 80%;">
                Name is required
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <label for="inputName5" class="form-label">Publisher Short Name</label>
            <input type="text" pInputText formControlName="nameShort" [style]="{'width':'100%'}"/>
            <div *ngIf="publisherFormGroup.get('nameShort').touched">
              <div *ngIf="publisherFormGroup.hasError('required',['nameShort'])" style="color: rgb(255, 0, 0); font-size: 80%;">
                Name short is required
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <label for="inputName5" class="form-label">Location</label>
            <input type="text" pInputText formControlName="location" [style]="{'width':'100%'}"/>
            <div *ngIf="publisherFormGroup.get('location').touched">
              <div *ngIf="publisherFormGroup.hasError('required',['location'])" style="color: rgb(255, 0, 0); font-size: 80%;">
                Location is required
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <label for="inputName5" class="form-label">Contact Number</label>
            <input type="text" pInputText formControlName="contactNumber" [style]="{'width':'100%'}"/>
            <div *ngIf="publisherFormGroup.get('contactNumber').touched">
              <div *ngIf="publisherFormGroup.hasError('required',['contactNumber'])" style="color: rgb(255, 0, 0); font-size: 80%;">
                Contact Number is required
              </div>
              
            </div>
          </div>

          <div class="text-center">
            <button type="submit" class="btn btn-primary" (click)="save()" [disabled]="publisherFormGroup.invalid">Submit</button> &nbsp;
            <button type="reset" class="btn btn-secondary" (click)="reset()">Reset</button>
          </div>
        </form><!-- End Multi Columns Form -->

      </div>
    </div>


  </div>
</section>
