<div class="checkout_area section-padding-80">
  <div class="container">
    <div class="row">

      <div class="col-12 col-md-6">
        <div class="checkout_details_area mt-50 clearfix">

          <div class="cart-page-heading mb-30">
            <h5>Billing Address</h5>
          </div>
          <ng-container>
            <p-card class="col-12 col-md-12" *ngFor="let item of address">
              <p-radioButton name="pizza" (ngModelChange)="setship(item)" value="{{item.id}}" [(ngModel)]="addressid" inputId="ingredient1"></p-radioButton>
              <div class="row">
                <div class="col-6 mb-3">
                  <label for="phone_number">Name: </label>
                  &nbsp;
                  <b>
                    <span>{{account.lastName +" " +account.firstName}}</span>
                  </b>
                </div>
                <div class="col-6 mb-3">
                  <label for="phone_number">Phone Number: </label>
                  &nbsp;
                  <b>
                    <span>{{account.phone}}</span>
                  </b>
                </div>
                <div class="col-12 mb-3">
                  <label for="state">Address: </label>
                    <span>{{item.street + " "+ item.district+" " + item.city}}</span>
                </div>
              </div>
            </p-card>
          </ng-container>
          <a [routerLink]="['/address',{checkout : 1}]" class="btn essence-btn">Add Address</a>

        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-5 ml-lg-auto">
        <div class="order-details-confirmation">

          <div class="cart-page-heading">
            <h5>Your Order</h5>
            <p>The Details</p>
          </div>

          <ul class="order-details-form mb-4">
            <li><span>Product</span> <span>Total</span></li>

            <li *ngFor="let cartitem of cart.listItemCart"><span>{{cartitem.quantity+" "}}x{{ " "+cartitem.name}} </span> <span>${{cartitem.quantity * cartitem.cost}}</span></li>
            <li><span>Subtotal</span> <span *ngIf="totaltemp!= 0">${{totaltemp}}</span></li>
            <li><span>Shipping</span> <span  *ngIf="ship != null">${{ship}}</span></li>
            <li><span>VAT</span> <span  >10% &nbsp; &nbsp; $  {{(totaltemp*10)/100}}</span></li>

            <li><span>Total</span> <span *ngIf="ship != null && totaltemp!= 0">${{totaltemp + ship + (totaltemp*10)/100}}</span></li>
          </ul>

          <div id="accordion" role="tablist" class="mb-4">
            <div class="section-tab check-mark-tab text-center pb-4">
              <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
                <li class="nav-item">
                  <a (click)="cod()" class="nav-link active" id="credit-card-tab" data-toggle="tab" href="#credit-card" role="Card"
                    aria-controls="credit-card" aria-selected="false" payload="visa">
                    <i class="la la-check icon-element"></i>
                    <img src="../assets/img/cod.jpg">
                    <span class="d-block pt-2">Payment with cod</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a (click)="paypal()" class="nav-link" id="paypal-tab" data-toggle="tab" href="#paypal" role="Visa"
                    aria-controls="paypal" aria-selected="true" payload="paypal">
                    <i class="la la-check icon-element"></i>
                    <img src="../assets/img/paypal.jpg" alt="">
                    <span class="d-block pt-2">Payment with PayPal</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <a (click)="save()" class="btn essence-btn">Place Order</a>
        </div>
      </div>
    </div>
  </div>
</div>
